@charset "utf-8";
/* CSS Document */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{
	margin:0;padding:0
}
ol,ul{list-style:none}
a img{border:0}
a{text-decoration: none;}
em {
    font-style: normal;
}
img{vertical-align:middle}
table{empty-cells:show}

#daohang .daohangzuo{float:left}
#daohang .daohangzhong{width:1190px;margin:0 auto}
#daohang .daohangyou{float:right}
.lh{overflow:hidden;zoom:1}
.lh li,.lh dl,.lh .item{float:left}
.ld{position:relative;zoom:1}
.ld s,.ld b,.ld .block{position:absolute;overflow:hidden}


#daohang a,#daohang li{font-size:12px;color:#666666;}
#daohang li{height:30px;padding:0 11px 0 12px}

#daohang .daohangzuo b,#daohang .daohangyou b{ background:url(images/img/20130330A_1.png);background-repeat:no-repeat}
#daohang,#daohang .daohangzhong{height:30px;background:#F7F7F7;}
#daohang{width:100%;border-bottom:1px solid #eee;line-height:30px}
#daohang li s{top:9px;left:0;width:0;height:12px;border-left:1px solid #DDD;overflow:hidden}
#daohang b{transition:transform .2s ease-in 0s;-webkit-transition:-webkit-transform .2s ease-in 0s}
#daohang .daohangzuo{overflow:visible}
#daohang .daohangzuo .fore1{padding-left:16px;z-index:13}
#daohang .daohangzuo b{top:8px;left:0;width:13px;height:13px;background:url(images/img/xingxing.png) no-repeat 0 0;cursor:pointer}
#daohang .daohangzuo li:hover b{transform:rotate(720deg);-webkit-transform:rotate(720deg)}
#daohang .daohangzuo .jtip{left:68px;top:6px;width:120px;line-height:16px}
#daohang .daohangyou{height:30px;overflow:visible}
#daohang .daohangyou b{top:13px;right:8px;width:7px;height:4px;background-position:-95px -55px}
#daohang .menu{width:60px;z-index:12}
#daohang .dd{display:none}
#daohang .hover .outline,#daohang .hover .dd{position:absolute;border:1px solid #DDD;background:#fff;-moz-box-shadow:0 0 10px rgba(0,0,0,.12);-webkit-box-shadow:0 0 10px rgba(0,0,0,.12);box-shadow:0 0 10px rgba(0,0,0,.12)}
#daohang .hover .outline{z-index:-1;left:5px;top:3px;width:73px;height:28px}
#daohang .hover .blank{position:absolute;z-index:1;top:23px;left:6px;width:73px;height:8px;overflow:hidden;background:#fff}
#daohang .hover .dd{display:block;top:30px}
#daohang .daohangyou .hover b{transform:rotate(180deg);-webkit-transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)}
#daohang #yanwoyinxiang-app{padding-left:37px}
#yanwoyinxiang-app i{position:absolute;z-index:2;left:14px;top:5px;width:13px;height:22px;background-image:url(images/img/20130330A_2.png);background-repeat:no-repeat;background-position:-128px -360px;-webkit-transition:all .2s ease;transition:all .2s ease}
#yanwoyinxiang-app.hover i{background-position:-128px -399px}
#yanwoyinxiang-app .dd{left:5px;width:210px;padding:20px 0 20px 20px}
#yanwoyinxiang-app .app-btn{height:29px;font-size:0}
#yanwoyinxiang-app .btn-app-apple,#yanwoyinxiang-app .btn-app-android{width:97px;height:29px;display:inline-block;line-height:29px;background-image:url(images/img/20130330A_2.png);background-repeat:no-repeat}
#yanwoyinxiang-app .btn-app-apple{background-position:0 -360px;margin-right:5px}
#yanwoyinxiang-app .btn-app-android{background-position:0 -399px}
#yanwoyinxiang-app .qr-item{position:relative}
#yanwoyinxiang-app .qr-item.qr-yanwoyinxiang-app{margin-bottom:30px}
#yanwoyinxiang-app .qr-item .qr-img{position:absolute;left:0;top:10px}
#yanwoyinxiang-app .qr-item .qr-ext{padding-left:92px}
#yanwoyinxiang-app .qr-item .qr-ext strong,#yanwoyinxiang-app .qr-item .qr-ext a{display:block;margin:0}
#yanwoyinxiang-app .qr-item .qr-ext strong{line-height:20px;margin-bottom:7px;color:#E4393C}
#yanwoyinxiang-app .qr-item .qr-ext .btn-app-apple{margin-bottom:7px}
#daohang #yanwoyinxiang-app.hover .outline,#daohang #yanwoyinxiang-app.hover .blank{width:98px}
#yanwoyinxiang-app .dd{padding-top:60px;padding-left:30px;padding-right:10px}

#daohang #yanwoyinxiang-vip{padding-left:38px}
#yanwoyinxiang-vip:hover i{background-position:0 -15px}
#yanwoyinxiang-vip i{position:absolute;left:10px;top:9px;display:block;width:24px;height:11px;overflow:hidden;background:url(images/img/vip.png)}

#biz-service.hover .dd{left:5px;width:73px}
#biz-service.hover .dd div{padding-left:6px;line-height:22px}
#site-nav .dd{left:-172px;width:250px}
#site-nav .dd dt{padding:4px 0 4px 9px;line-height:20px;font-weight:700}
#site-nav .dd dl{float:none;width:auto}
#site-nav .dd dl dd{margin:0 9px;line-height:22px;overflow:hidden;padding-bottom:3px;border-bottom:1px solid #f2f2f2;*zoom:1}
#site-nav .dd dl div{float:left;margin-right:10px;display:inline}
#site-nav .dd .fore1 div{width:58px;margin-right:0}





#logo{
	width:1190px;
	height:80px;
	margin:20px auto;
}
#logo .logol{
	width:300px;
	height:100%;
	float:left;
}
#logo .logor{
	width:500px;
	height:100%;
	float:right;
}
#logo .logor .logor1{
	width:500px;
	height:25px;
	float:right;
}
#logo .logor .logor2{
	width:500px;
	height:55px;
	float:right;
}

#denglutupian{
	width:1190px;
	height:60px;
	margin:0 auto;
}
#denglutupian .denglutupianl{
	width:590px;
	height:60px;
	float:left;
}
#denglutupian .denglutupianr{
	width:590px;
	height:60px;
	float:right;
}
#denglutupian .denglutupianl1{
	width:590px;
	height:50px;
	float:left;
	margin:0 auto;
}
#denglutupian .denglutupianl2{
	width:590px;
	height:10px;
	float:left;
	margin:0 auto;
}


	